body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-image: url("bg.jpg");
            background-size: cover;
            background-position: center;
        }

        header {
            background-color: transparent;
            color: #fff;
            padding: 10px 0;
        }

        header nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        header nav ul li {
            font-size: 20px;
            margin: 0 10px;
        }

          header nav ul li a {
            color: black;
            text-decoration: none;
            font-weight: bold;
             font-size: larger;
        }


        header nav ul li a:hover {
            color: #f4f4f4;
            text-decoration: underline;
        }

        section {
            padding: 20px;
            margin: 20px 0;
            display: none; 
            flex-direction: column;
        }

        .profile-photo {
            display: block;
            width: 100%;
            max-width: 650px;
            margin: 20px auto;
            height: auto;
        }

        #home {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
             justify-content: center;
            align-items: center;
            padding: 20px;
            text-align: center;
        }

        #home .info {
            width: 100%;
        }

        #home .info h1 {
            margin: 34px 0 0 0;
            color: #4a7d8c;
            font-size: 43px;  
        }

        #home .info p {
            font-size: 23px;
        }

        .contact-icons {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 20px;
            flex-wrap: wrap;
        }

        .contact-icons a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin: 5px;
            background: #333;
            color: #fff;
            border-radius: 50%;
            text-decoration: none;
            font-size: 18px;
        }
         .form-container h2 {
            text-align: left;
            margin-bottom: 20px;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ffffff;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
            background-color: #ffffff1f;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        textarea:focus {
            border-color: #5b9bd5;
            outline: none;
            box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
        }

        button {
            background-color: #4a7d8c;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #3a7bbf;
        }

        .hidden {
            display: none;
        }

        #projects h2 {
            font-size: 24px;
            text-align: center;
        }

        #projects ul {
            list-style: none;
            padding: 0;
        }

        #projects ul li {
            margin-bottom: 20px;
            padding: 0 10px;
        }

        #projects ul li .project-title {
            font-size: 18px;
            font-weight: bold;
            color: #145274;
        }

        .github-link {
            display: inline-block;
            padding: 5px 10px;
            margin-top: 5px;
            background: #333;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            font-size: 14px;
        }

        .github-link:hover {
            background: #555;
        }

      #certifications .certificates {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .certificate-item {
            width: calc(100% - 40px); 
            padding: 10px;
            box-sizing: border-box;
        }

        .certificate-item img {
            width: 100%;
            height: auto;
            display: block;
            border: 1px solid #ddd;
        }

        .certificate-description {
            margin-top: 10px;
            text-align: center;
        }

        .certificate-description h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .certificate-description p {
            font-size: 14px;
            margin-bottom: 10px;
        }
.certificate-description a {
            display: inline-block;
            padding: 5px 10px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
        }

        .certificate-description a:hover {
            background-color: #555;
        }

 
        #summary {
        
            flex-direction: column;
            align-items: center;
        }

        #summary div {
            width: 100%;
            max-width: 700px;
            border: 2px double #145274;
            margin: 20px;
            padding: 20px;
            box-sizing: border-box;
        }

        #summary #education .clg img,#summary #Recognition .internship img,#summary #Recognition .dexter img,#summary #skills img,
        #summary #activities .act img {
            width: 100%;
            max-width: 350px;
            margin: 20px auto;
            border-radius: 10%;
        }

#summary #Recognition .internship{
            display: contents;   
}   

#summary #Recognition .dexter{
    display: table-cell;   
}
#summary #education .clg{
    display: contents;   
}    
#summary #activities .act {
    display: contents;   
}   
       footer {
            text-align: center;
            padding: 20px 0;
            background: #333;
            color: #fff;
        }

        footer .contact-icons {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        footer .contact-icons li {
            margin: 5px;
        }

        footer .contact-icons li a {
            color: #fff;
            text-decoration: none;
        }

        footer .contact-icons li a .icon {
            display: inline-block;
            font-size: 18px;
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 4px;
        }

        footer .contact-icons li a .icon:hover {
            background-color: #fff;
            color: #333;
        }

        footer #license {
            margin-top: 10px;
            color: white;
            text-decoration: none;        
        }

        footer img{
            width:140px;
            height: auto;
        }
          .form-container {
            background-color: transparent;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            width: 50%;
            margin-top: -10px;
        }

     
        @media (min-width: 768px) {
            #home {
                flex-direction: row;
                text-align: left;
            }

            #home .info {
                flex: 1;
            }
             
            header nav ul li a {
            color: black;
            text-decoration: none;
            font-weight: bold;
                   padding: 25px;
        }

        .contact-icons {
            display: flex;
            justify-content: normal;
            flex-direction: row;
            margin-top: 20px;
            flex-wrap: wrap;
        }


            .profile-photo {
                width: 620px;
                margin-right: 120px;
            }

       #certifications .certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.certificate-item {
    width: calc(33.33% - 20px);
    padding: 10px;
    box-sizing: border-box;
}

.certificate-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;
}

.certificate-description {
    margin-top: 10px;
    text-align: center;
}

.certificate-description h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.certificate-description p {
    font-size: 14px;
    margin-bottom: 10px;
}

.certificate-description a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.certificate-description a:hover {
    background-color: #555;
}

 #summary {
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
            }

            #summary div {
                max-width: 65%;
                margin: 10px;
            }

#summary #Recognition .internship{
            width: 47%;
    display: inline-block;   
}   
#summary #education .clg{
            width: 47%;
    display: inline-block;   
}
#summary #activities .act {
     width: 47%;
    display: inline-block;   
}            
